.menu-division-line {
    border-top: 5px solid #aaa;
    margin-top: 10px;
}

.tabs {
    padding: 16px;
}

.menu-tabs {
    margin-top: 10px;
    margin-left: 10px;
}

.utility-buttons {
    background-color: #8b7e72;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.flexbox-horizontal {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.flexbox-vertical {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buildings-option-container {
    background-color: #999999;
    flex: 1;
    height: 85vh;
    padding: 12px;
}

.buildings-option {
    background-color: #666666;
    border-bottom: 2px solid #444444;
    border-right: 2px solid #444444;
    color: white;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    cursor: pointer;
}

.menu-tab-button {
    background-color: #727272;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
    margin: 0;
    padding: 0;
}

.tooltip-hover:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s, visibility 0.5s;
}

.tooltip {
    position: absolute;
    display: block;
    visibility: hidden;
    opacity: 0;
    border: 5px solid black;
    border-radius: 5px;
    background-color: #444;
    padding: 8px;
}







.red {
    background-color: #d9534f;
}

.big {
    font-size: xx-large;
    font-weight: bold;
}

.gray-text {
    color: rgb(223, 223, 223);
}

